/*Kayit Ol sayfasi icin gerekli olan bicimlendirme yabildi.*/
.register{
    text-align: center;
    width: 220px; /* Kutunun genişliği */
    height: 220px; /* Kutunun yüksekliği */
    padding: 100px; /* İç içe boşluk (padding) */ /* Dış boşluk (margin) */
    border: 1px solid grey;/* Kenarlık (border) */
    color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:block;
    margin-bottom: 5px;
    font-size: 30px;
}
.input{
    padding: 6px;
    border-radius: 10px;
}
.button{
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
}
.button:hover{
    background-color: white;
    color: blue;
}
.parag{
    font-size: 16px;
}
.link{
    color: blue;
    text-decoration: none;
}